.messages-list-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.messages-item{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid black;
  padding: 1rem;
}

.messages-item label{
  font-weight: bold;
  color: #10181b;
  font-size: 13px;
}

.messages-item p{
  margin: 0;
  font-size: large;
}

.messages-title-container{
  padding: 10px;
  border-bottom: 1px solid #d1d1d1;
  border-radius: 10px;
  margin: 1rem 0;
}
.messages-title{
  color: #10181b;
  font-size: 20px;
  font-weight: bold;
}
.messages-input{
  width: 100%;
}