.update-password-form {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 0;
  align-items: center;
  /* justify-content: center;
  justify-items: center; */
  text-align: center;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 10px;
  max-width: 680px;
  width: 60%;
  margin: 0 auto;
  margin-top: 3rem;
}

.input-updatepassword-container{
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 0;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.submit-button-container{
  width: 100%;
}

.submit-button {
  width: 274.5px;
  background-color: #10181b;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.input-updatepassword-container label{
  font-size: larger;
  font-weight: bold;
  color: #10181b;
}

@media screen and (max-width: 580px) {
  .update-password-form {
    width: 100%;
  }
}