.input-container-firstname, .input-container-lastname, .input-container-birthdate, .input-container-email, .input-container-password, .input-container-confirm{
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 0;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.input-first-name, .input-last-name, .input-birth-date, .input-email, .input-password, .input-confirm{
  width: 100%;
}

.submit-button {
  width: 100%;
  background-color: #10181b;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.input-container-role {
  display: flex;
  gap: 1rem;
  padding: 0;
  align-items: center;
  justify-items: center;
  text-align: center;
  margin-top: 10px;
}