
.logo-container {
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 50px;
  height: 50px;
  fill: currentColor;
  color: teal;
}

.logo-legend {
  margin: 0 0 0 10px;
}

.avatar-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.menubar{
  background-color: transparent;
  border: none;
  justify-content: space-between;
  border-radius: 0;
  padding: 0.5rem 0;
}

.logo-container, .avatar-container{
  cursor: pointer;
  background-color: transparent;
  border: none;
}
