.header-container {
  max-width: 100vw;
}

.logo-container {
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.logo-container:hover {
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.logo-container:hover .logo-legend,
.logo-container:hover .logo-legend span {
  color: #10181b;
}

.logo-icon {
  width: 50px;
  height: 50px;
  fill: currentColor;
  filter: drop-shadow(0 0 1px black);
}

.logo-legend {
  margin: 0 0 0 10px;
  font-family: "Rubik", serif;
  font-weight: 300;
  color: #cbe1e9
}

.logo-legend span {
  font-weight: 450;
  color: #dde3eb;
}

.avatar-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.p-menuitem-content span{
  color: #cbe1e9
}

.p-menuitem-content:hover span{
  color: #10181b
}

.menubar{
  background-color: transparent;
  border: none;
  justify-content: space-between;
  border-radius: 0;
  padding: 0.5rem 0;
  z-index: 1000;
}

svg.p-icon{
  width: 20px;
  height: 20px;
  fill: currentColor;
  color: #10181b;
}

.p-menubar .p-menuitem>.p-menuitem-content .p-menuitem-link {
  padding: 0.75rem;
}

.logo-container, .avatar-container{
  cursor: pointer;
  background-color: transparent;
  border: none;
}
