.filter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter-age {
  display: flex;
  flex-direction: row;
  gap: 3px;
  padding: 0;
  width: 170px;
}

.filter-label {
  /* font-size: larger; */
}