.footer-container {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 1rem;
  max-width: 100vw;
}

.social{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons i {
  font-size: 1.5rem;
  cursor: pointer;
}

.social-icons i:hover {
  transform: scale(1.1);
}

.facebook-icon {
  color: #1877F2;
}

.instagram-icon {
  color: #E4405F;
}

.whatsapp-icon {
  color: #25D366;
}

@media screen and (max-width: 540px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  
}